@media (min-width: 300px) and (max-width: 1000px) {
    body {
        margin: 0em;
    }
    .nav-bar {
        display: none;
    }
    .menu-icon {
        display: block;
        margin-top: 1em;
        padding-left: 70%;
    }
    .img1 {
        height: 30px;
        margin-top: 1.0em;
        margin-left: 20px;
    }
}